
  
  .container {
      height: 300px;
    width: 100%;
    display: flex;
    gap: 20px;
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 300px;
    width: 500px;
    opacity: 0.5;
  }

  .card:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .card img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
   padding-top: 15px;
  }

  .details {
    padding: 20px;
    text-align: center;
  }

  .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .role {
    color: #555;
  }